<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Groove Connection</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='layout.css')}}">
</head>
<body>
    <div class="full-page">
        
        <div class="navbar">
           <nav>
                
                    <ul id="menuitems">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/aboutme">ABOUT ME</a></li>
                        <li><a href="/contact">CONTACT ME</a></li>
                        <li><a href="/dashboard">ADMIN</a></li>
                        <li><a href="/login">LOGIN</a></li>
                       
                    </ul>
                </nav>
            
            </div>
{% block body %} {% endblock %}            
</div>
    
</body>

</html>
